* {
    box-sizing: border-box;
    justify-content: center;
    font-family: din-round,sans-serif;

}

h1 {
    font-size: 50px;
    margin: 0;
    text-align: center;
    padding-top: 30px;
}

.mode{
font-size: 20px;
font-weight: bold;
margin: 7px;
text-align: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}


#sizeOfBoard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

input {
    max-width: 70px;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0
}

.board {
    width: 500px ;
    height: 500px;
    display: grid;
    border: 3px black solid;
    box-shadow: #11111160 10px 10px 10px;
}


/* Modify only the rainbow button */
.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    overflow: hidden; 
  }
  
  .button-85:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button-85:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    z-index: -2;
    border-radius: 10px;
  }
  